.main__game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__word-section{
    background-color: #99777B;
    opacity: 0.7;
    width: 664px;
    height: 315px;
}

.main__word{
    font-size: 96px;
    text-align: center;
    padding-top: 93px;
}

.main__arrow-button{
    width: 100px;
    height: 103.09px;
    border: 0;
    background: rgba(255, 255, 255, 0.2);
    margin: 15px;
}

.main__arrow-button:hover,
.main__arrow-button:focus{
    background: rgba(255, 255, 255, 0.4);
}

.main__time-animation {
    background-color: black;
    height: 45px;
    width: 100%;
    overflow: hidden;
}
  
.main__cylon_eye {
    background-color: red;
    background-image: -webkit-linear-gradient(    left, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 75%);
    background-image: -moz-linear-gradient(    left, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 75%);
    background-image: -o-linear-gradient(    left, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 75%);
    background-image: linear-gradient(to right, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 75%);
    color: white;
    height: 100%;
    width: 20%;

    -webkit-animation: 5s linear 0s normal move_eye;
    -moz-animation: 5s linear 0s normal move_eye;
    -o-animation: 5s linear 0s normal move_eye;
    animation: 5s linear 0s normal move_eye;
}
  
@-webkit-keyframes move_eye { from { margin-left:-20%; } to { margin-left:100%; }  }
   @-moz-keyframes move_eye { from { margin-left:-20%; } to { margin-left:100%; }  }
     @-o-keyframes move_eye { from { margin-left:-20%; } to { margin-left:100%; }  }
        @keyframes move_eye { from { margin-left:-20%; } to { margin-left:100%; }  }

@media screen and (max-aspect-ratio: 1/1) {
    .main__word-section{
        width: 262px;
        height: 155px;
        margin: 13px 0 13px 0;
    }
    
    .main__word{
        font-size: 36px;
        text-align: center;
        padding-top: 59px;
    }
    
    .main__arrow-button{
        width: 50px;
        height: 53px;
    }
    
    .main__arrow-pic{
        width: 45px;
        height: 25.51px;
    }

    .main__time-animation {
        height: 25px;
    }
}