.main__score{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__scroll-table{
    width: 524px;
    height: 158px;
    overflow-y: scroll;
}

table{
    width: 100%;
}

tr{
    border: 1px solid rgb(116, 116, 116);
    background-color: white;
    height: 52px;
}

tr:hover{background-color: #EEEEEE;}

th{
    background-color: #EEEEEE;
    text-align: left;
    vertical-align: middle;
    width: 50%;
}

td{
    overflow-wrap: break-word;
    vertical-align: middle;
    width: 253px;
}

@media screen and (max-aspect-ratio: 1/1) {
    .main__scroll-table{
        width: 208px;
        height: 122px;
    }

    table{
        font-size: 16px;
    }

    tr{
        height: 40px;
    }

    td{
        width: 104px;
        font-size: 16px;
    }
}